#mainContainer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    border: 1px solid blue;
}

#navbarContainerDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    height: 30px;
    background-color: green;
}

.menuNav{
    width: 120px;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: blue;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#mainContainer{
background-color: yellow;
}